@import 'custom';

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    align-self: center;
    height: 10%;
}

.map-search {
    align-self: center;
    margin: 10px;
    display: flex;
    max-width: 500px;
}

input {
    margin-right: 10px;
}

.bottom-nav-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7%;
}

.nav-button {
    border-radius: 0%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
