@import 'custom';

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: $green-1;
}

.map-search {
    margin: 10px;
    display: flex;
    max-width: 500px;
}

input {
    margin-right: 10px;
}

.location-details {
    font-family: $font-family-base;
    h2 {
        font-size: 1.5rem;
        padding: 0 10px 10px 10px;
        border-bottom: 3px $green-5 solid;
    }
    p {
        font-size: 1.2rem;
        margin: 0;
        padding: 0 10px;
    }
    .check-icon {
        fill: $green-6;
    }
    .x-icon {
        fill: $gray-500;
    }
}
